---
title: Backend Developers - Slack powered community for  creative developers.
---

<div class="row">
  <center>
    <%#= image_tag "logo.png", class: "logo" %>
    <h2 class="title"> backend_developers </h2>
    <p class="subheader">A <a href="http://slack.com" target="_blank">Slack</a> powered community for creative developers.</p>
  </center>
</div>

<div class="row">
  <div class="small-12 columns">
    <div class="button-bar">
      <ul class="button-group round center on-top">
        <li><a class="small button alert typeform-share" href="https://backend.typeform.com/to/jTdabk" data-mode="1" target="_blank">Request Invite</a></li>
        <li><a href="http://backenddevelopers.slack.com" class="small button dark-blue">Join Conversation</a></li>
      </ul>
    </div>
    <%= image_tag "slack.png", class: "shadow" %>
  </div>
</div>

<div class="footer subheader">
  <p class="message">
    Ask and/or offer help. <br>
    Connect with the other backend developers. <br>
    Share your work and find gigs. <br>

    <p class="subheader footer-license"><em>Code licensed under <a href="https://github.com/backenddevelopers/backenddevelopers.github.io/blob/source/LICENSE" target="_blank">MIT</a></em></p>
  </p>
</div>

<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
