---
title: Backend Developers
---

<div class="row">
  <center>
    <%#= image_tag "logo.png", class: "logo" %>
    <h2 class="title"> backend_developers </h2>
    <p class="subheader">A <a href="http://slack.com" target="_blank">Slack</a> powered community for  creative developers to share knowledge.</p>
  </center>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="button-bar">
      <ul class="button-group round center on-top">
        <li><a href="#" class="small button dark-blue">Join Conversation</a></li>
        <li><a href="#" class="small button alert">Request Invite</a></li>
      </ul>
    </div>
    <%= image_tag "slack.png", class: "shadow" %>
  </div>
</div>

<div class="footer">
  <p class="message">
    Ask and/or offer help. <br>
    Connect with the other backend developers. <br>
    Share your work and find gigs.
  </p>
</div>
